- f.object.leg = index + 1 unless f.object.leg
.form__field.form__field--horizontal.form__field--small
  = f.hidden_field :leg
  #{f.object.leg}.
.form__field.form__field--horizontal
  #{f.number_field :distance}m
