<% content_for :title, "#{@race.name} - #{@relay.name} - #{t :edit}" %>
<h2><%= t '.title' %></h2>
<%= render :partial => 'form' %>
<hr/>
<%= link_to t(:back_to_official_relays_page), official_race_relays_path(@race) %>