<% content_for :title, "#{@race.name} - #{t '.title'}" %>
<h2><%= t '.title' %></h2>
<div class="warning"><%= t '.leg_count_warning' %></div>
<%= render :partial => 'form' %>
<hr/>
<%= link_to t(:back_to_official_relays_page), official_race_relays_path(@race) %>