<% content_for :title, "#{@race.name} - Uusi viesti" %>
<h2>Uusi viesti</h2>
<div class="warning">Huom! Osuuksien määrää ei voi muuttaa sen jälkeen, kun viesti on luotu.</div>
<%= render :partial => 'form' %>