- content_for :title, 'Kaikki tiedotteet'
- content_for :page_title, yield(:title)
- @announcements.each do |announcement|
  %section.announcement
    %h2
      = date_print announcement.published
      \-
      = announcement.title
    %div
      = raw announcement.content
.buttons.buttons--nav
  = link_to t(:back_to_home_page), root_path, class: 'button button--back'
