<% content_for :title, @announcement.title %>
<% content_for :page_title, 'Tiedotteet' %>
<h2><%= yield :title %></h2>
<%= raw @announcement.content %>
<hr/>
<%= link_to t(:back_to_home_page), root_path %>