.menu.menu--sub.menu--sub-1
  = menu_item 'Tietoa Hirviurheilusta', info_path, @is_info_main
  = menu_item 'Kysymyksiä ja vastauksia', answers_path, @is_answers
  = menu_item t('main_menu.prices'), prices_path, @is_prices
  = menu_item t(:feedback), new_feedback_path, @is_feedback
