$("#status_new").html("<span class='error'><%= t :error %>!</span>");
$('div#update_error').addClass("error");
$('div#update_error').text("<%= @competitor.errors.full_messages.join(". ") + "." %>");
$('div#update_error').show();