STABLE_COMMIT
STABLE_COMMIT_RSPEC
.bundle
.idea
.project
capybara-*
db/*.sqlite3*
log/*.log
nbproject
node_modules/
public/javascripts/all.js
public/stylesheets/all.css
spec/files/generated.csv
tmp/**/*

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/app/assets/builds/*
!/app/assets/builds/.keep
