- shot_count = @race.sport.qualification_round_shot_count
%h2 #{t 'activerecord.models.heat.one'}:
- @race.competitors_per_heat.times.each do
  .no-break
    %h3.empty-results-competitor-header #{t 'activerecord.models.competitor.one'}:
    = render partial: 'official/heat_list_templates/empty_results_table', locals: { shot_count: shot_count }
