<h2>Tuloskehä</h2>

<% if cookies['seriescount'] %>
<% content_for(:refresh, true) %>
<% end %>

<% if cookies['seriescount'] %>
Tuloskehä kytkettin päälle.<br/>
<br/>
Sarjoja näytetään: <%= cookies['seriescount'] %>

<% else %>
Tuloskehä kytkettin pois päältä
<% end %>
<hr/>
<%= link_to "Takaisin etusivulle", root_path %>
