<h2>Tuloskehä</h2>

<% if cookies['seriescount'] %>
  <% content_for(:refresh, true) %>
<% end %>

<% if cookies['seriescount'] %>
  <% if result_rotation_list.empty? %>
    Tuloskehää ei voida käynnistää, koska ei ole käynnissä olevia kilpailuja.
    <% cookies.delete 'seriescount' %>
  <% else %>
    Tuloskehä käynnistetään.<br/>
    <br/>
    Sarjoja näytetään: <%= cookies['seriescount'] %>
  <% end %>
<% else %>
    Tuloskehä kytkettin pois päältä
<% end %>
<hr/>
<%= link_to "Takaisin etusivulle", root_path %>
