%h1= @race.name
#{@race.location}, #{race_date_interval(@race, false)}
%h2 Luodikon joukkuekilpailu
- cache [@tc, params[:exclude_competitors], I18n.locale] do
  - if @results.empty?
    .message.message--info Joukkuekilpailun tuloksia ei voida vielä laskea
  - else
    = render partial: 'results', locals: { results: @results, team_competition: @tc }
