<h2>Tulosten pikasyöttö</h2>
<div class="instructions">Tällä sivulla voit tallentaa kilpailijoiden tuloksia
  ns. pikasyöttöä käyttäen. Syöttämiseen tarvitset kilpailijan numeron.</div>
<% if @race.competitors.empty? %>
  <div class="error">Kilpailuun ei ole lisätty yhtään kilpailijaa</div>
<% else %>
  <h3>Ajat</h3>
  <% instructions = 'Syötä tulos muodossa nro:hh:mm:ss, ' +
      'esim. 45:13:45:28 (kilpailija 45, saapumisaika 13:45:28).' %>
  <%= render :partial => 'result_place', :locals => { :name => 'time',
    :instructions => instructions, :path => race_time_quick_save_path(@race) } %>
  <h3>Arvioinnit</h3>
  <% instructions = 'Syötä tulos muodossa nro:arvio1:arvio2, ' +
      'esim. 45:95:118 (kilpailija 45, arviot 95 ja 118 metriä).' %>
  <%= render :partial => 'result_place', :locals => { :name => 'estimates',
    :instructions => instructions, :path => race_estimates_quick_save_path(@race) } %>
  <h3>Ammunta</h3>
  <% instructions = 'Syötä tulos muodossa nro:ammuntatulos, ' +
      'esim. 45:87 (kilpailija 45, ammunta yhteensä 87).' %>
  <%= render :partial => 'result_place', :locals => { :name => 'shots',
    :instructions => instructions, :path => race_shots_quick_save_path(@race) } %>
<% end %>