<% content_for :title, "#{@race.name} - Tulosten pikasyöttö" %>
<h2>Tulosten pikasyöttö</h2>
<div class="info">Tällä sivulla voit tallentaa kilpailijoiden tuloksia
  ns. pikasyöttöä käyttäen. Syöttämiseen tarvitset kilpailijan numeron.</div>
<% if @race.competitors.empty? %>
  <div class="warning">Kilpailuun ei ole lisätty yhtään kilpailijaa</div>
<% else %>
  <h3>Ajat</h3>
  <% instructions = 'Syötä tulos muodossa nro,hhmmss, ' +
      'esim. 45,130728 (kilpailija 45, saapumisaika 13:07:28).' %>
  <%= render :partial => 'result_place', :locals => { :name => 'time',
    :instructions => instructions, :path => race_time_quick_save_path(@race) } %>
  <h3>Arvioinnit</h3>
  <% instructions = 'Syötä tulos muodossa nro,arvio1,arvio2, ' +
      'esim. 45,95,118 (kilpailija 45, arviot 95 ja 118 metriä)' %>
  <% if @race.estimates_at_most == 4 %>
        <% instructions << ' tai neljän ennusteen sarjan kilpailijoille ' +
          'muodossa nro,arvio1,arvio2,arvio3,arvio4, esim. 45,95,118,185,134' %>
  <% end %>
  <% instructions << '.' %>
  <%= render :partial => 'result_place', :locals => { :name => 'estimates',
    :instructions => instructions, :path => race_estimates_quick_save_path(@race) } %>
  <h3>Ammunta</h3>
  <% instructions = 'Syötä tulos muodossa nro,ammuntatulos, ' +
      'esim. 45,87 (kilpailija 45, ammunta yhteensä 87). Tai vaihtoehtoisesti ' +
      'laukausten kanssa siten että +-merkki on 10, esim. ' +
      '45,++99877420 (merkitse ohilaukauksille nollat).' %>
  <%= render :partial => 'result_place', :locals => { :name => 'shots',
    :instructions => instructions, :path => race_shots_quick_save_path(@race) } %>
<% end %>