- instructions = t("official.quick_saves.index.instructions_shots")
= render partial: 'result_place', locals: { name: 'shots', instructions: instructions, path: official_race_quick_save_shots_path(@race) }