<% if @competitor.errors.any? %>
  <% error_msg = @competitor.errors.full_messages.join(". ") + "." %>
  $("#update_error").addClass("error");
  $("#update_error").html("<%= error_msg %>");
  $("#status_<%=@competitor.id%>").html("<span class='error'>Virhe!</span>");
<% else %>
  $("#update_error").removeClass("error");
  $("#update_error").html("");
  $("#status_<%=@competitor.id%>").html("<span class='notice'>Tallennettu</span>");
<% end %>