- [:trap, :shotgun, :rifle_moving, :rifle_standing].map do |sub_sport|
  - if @page_breaks
    .page-break
  %h3= t "sport_name.nordic_sub.#{sub_sport}"
  = render partial: 'races/nordic_race_desktop_sub_results', locals: { race: @race, sub_sport: sub_sport }
