<div id="test" class="notice">Testi</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#test").effect("highlight", {}, 3000);
    /*$("#test").addClass('notice_flash');
    $("#test").removeClass('notice_flash');*/
  });
</script>