<h1><%= @race.name %></h1>
<%= @race.location %>, <%= race_date_interval(@race) %>
<% @race.series.each do |series| %>
  <hr/>
  <%= render :partial => 'series/series_results', :locals => { :series => series } %>
<% end %>