<% content_for(:title, t('.title')) %>
<% content_for(:page_title, yield(:title)) %>
<h2><%= t '.hirviurheilu_offline_activation_key' %></h2>
<div class="success"><%= t '.activation_key' %>: <%= @activation_key %></div>
<div class="info"><%= t '.info' %></div>