body {
    font-family: monospace;
    font-size: 12px;
}

div.official_admin_links {
    width: 450px;
    padding-left: 10px;
    padding-right: 5px;
    float: left;
}

div.login_links {
    text-align: right;
    width: 450px;
    padding-left: 5px;
    padding-right: 10px;
    float: left;
}

div.navigation {
    clear: both;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

div.main {
    border: dashed 1px black;
    padding: 10px;
    width: 900px;
}

h1 {
    margin-top: 0px;
}

div.error_explanation {
    color: red;
}

div.field_with_errors {
    color: red;
}

div.error {
    background-color: orange;
    color: white;
    margin-bottom: 8px;
    padding: 3px;
}

div.notice {
    background-color: olive;
    color: white;
    margin-bottom: 8px;
    padding: 3px;
}

div.series_sub_form {
    background-color: silver;
    padding: 5px;
}