body {
    background-color: olive;
    font-family: monospace;
    font-size: 12px;
}

div.top_and_main {
    margin-left: 120px;
}

div.env_info {
    position: absolute;
    top: 15px;
    left: 610px;
    text-align: center;
    width: 200px;
    color: orange;
}

span.env_info_link {
    cursor: pointer;
    text-decoration: underline;
}

div.login_links {
    position: absolute;
    top: 15px;
    left: 830px;
    text-align: right;
    width: 200px;
    padding-right: 10px;
}

div.login_links a {
    color: white;
}

div.main {
    position: absolute;
    top: 39px;
    background-color: white;
    border: solid 1px black;
    width: 900px;
    clear: left;
    padding: 10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

a {
    color: olive;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 0px;
    font-size: 20px;
    background-color: olive;
    color: white;
    padding: 2px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

h2 {
    margin-top: 5px;
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

div.error_explanation {
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.field_with_errors {
    color: orange;
}

div.error {
    background-color: orange;
    color: white;
    margin-bottom: 8px;
    padding: 3px;
    border: 1px solid olive;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

span.error {
    background-color: orange;
    color: white;
}

div.notice {
    background-color: olive;
    color: white;
    margin-bottom: 8px;
    padding: 3px;
    border: 1px solid olive;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.notice_flash {
    background-color: white;
    color: olive;
    border: 1px solid olive;
}

span.notice {
    background-color: olive;
    color: white;
}

div.sub_element {
    background-color: #C0C080;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.series_sub_form {
    margin-bottom: 5px;
}

div.age_groups {
    width: 80%;
    margin-top: 2px;
    background-color: white;
    padding: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.age_groups h3 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: normal;
}

div.action_box {
    border: dashed 1px gray;
    padding: 5px;
    margin-bottom: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.question {
    font-weight: bold;
    color: olive;
    cursor: pointer;
    margin-top: 3px;
}

div.answer {
    margin-bottom: 5px;
}

div.commercial_box {
    background-color: olive;
    color: white;
    padding: 5px;
    overflow: auto;
    width: 200px;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.registration_commercial {
    position: absolute;
    left: 680px;
    top: 60px;
}

div.login_commercial {
    position: absolute;
    left: 680px;
    top: 165px;
}

div.commercial_box_link {
    margin-top: 3px;
    background-color: white;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.help {
    background-color: olive;
    color: white;
    border: olive 1px solid;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    font-family: arial;
    font-size: 12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

a.help:hover {
    text-decoration: none;
    background-color: white;
    color: olive;
}

.center {
    text-align: center;
}

div.instructions {
    border: olive 1px solid;
    background-color: white;
    color: olive;
    padding: 3px;
    margin-bottom: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}