body {
    background-color: olive;
    font-family: monospace;
    font-size: 12px;
}

div.env_info {
    position: absolute;
    top: 15px;
    left: 500px;
    text-align: center;
    width: 200px;
    color: orange;
}

span.env_info_link {
    cursor: pointer;
    text-decoration: underline;
}

div.login_links {
    position: absolute;
    top: 15px;
    left: 700px;
    text-align: right;
    width: 200px;
    padding-right: 10px;
}

div.login_links a {
    color: white;
}

div.main {
    position: absolute;
    top: 39px;
    background-color: white;
    border: solid 1px black;
    width: 900px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

div.menu {
    margin: 2px;
    font-family: cursive;
}

div.menu ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 4px;
}

div.menu li {
    display: inline;
}

div.menu ul li a {
    float: left;
    color: white;
    background-color: olive;
    text-decoration: none;
    padding: 5px 5px;
    border: white solid 1px;
    margin-right: 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}

div.menu ul li a:visited {
    color: white;
}

div.menu ul li a:hover {
    color: olive;
    background-color: white;
    border-bottom-color: white;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-radius-bottomleft: 0px;
    -webkit-border-radius-bottomright: 0px;
}

div.content {
    clear: left;
    padding: 10px;
}

a {
    color: olive;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 0px;
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

div.error_explanation {
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.field_with_errors {
    color: orange;
}

div.error {
    background-color: orange;
    color: white;
    margin-bottom: 8px;
    padding: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

span.error {
    background-color: orange;
    color: white;
}

div.notice {
    background-color: olive;
    color: white;
    margin-bottom: 8px;
    padding: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

span.notice {
    background-color: olive;
    color: white;
}

div.change_series {
    position: absolute;
    top: 40px;
    left: 5px;
    width: 880px;
}

div.change_series div.menu_and_button {
    text-align: right;
}

div.sub_element {
    background-color: #C0C080;
    padding: 5px;
}

div.age_groups {
    width: 80%;
    margin-top: 2px;
    background-color: white;
    padding: 3px;
}

div.age_groups h3 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: normal;
}

div.action_box {
    border: dashed 1px gray;
    margin-left: 0px;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.question {
    font-weight: bold;
    color: olive;
    cursor: pointer;
    margin-top: 3px;
}

div.answer {
    margin-bottom: 5px;
}