div.race_title {
    position: absolute;
    top: 39px;
    left: 10px;
    width: 973px;
    background-color: olive;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid white;
    padding: 6px;
    padding-left: 36px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
}

div.race_title_with_series {
    width: 1104px;
}

div.race_title span.sport_icon {
    position: absolute;
    top: 3px;
    left: 6px;
}

div.menu {
    margin: 2px;
    font-family: cursive;
}

div.sub_menu {
    width: 130px;
    margin: 0px;
    margin-left: 4px;
}

div.sub_menu_left {
    position: absolute;
    top: 64px;
}

div.sub_menu_right {
    position: absolute;
    top: 25px;
    left: 895px;
}

div.menu ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 4px;
}

div.sub_menu ul {
    list-style: none;
}

div.main_menu ul li {
    display: inline;
}

div.sub_menu ul li {
    text-align: center;
    margin-bottom: 1px;
    float: left;
}

div.menu ul li a {
    color: white;
    background-color: olive;
    text-decoration: none;
    padding: 5px 5px;
    border: white solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}

div.main_menu ul li a {
    float: left;
    margin-right: 4px;
}

div.sub_menu ul li a {
    margin-right: 0px;
    display: block;
    width: 100px;
    padding: 4px;
}

div.sub_menu_right ul li a {
    width: 110px;
}

div.menu ul li a:visited {
    color: white;
}

div.menu ul li a:hover {
    color: olive;
    background-color: white;
}

div.menu ul li a.selected {
    color: olive;
    background-color: white;
}

div.main_menu ul li a.selected {
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-radius-bottomleft: 0px;
    -webkit-border-radius-bottomright: 0px;
}

div.sub_menu ul li a.selected {
}

div.main_menu ul li a:hover {
    border-bottom-color: white;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-radius-bottomleft: 0px;
    -webkit-border-radius-bottomright: 0px;
}

div.sub_menu ul li a:hover {
    border-right-color: white;
}

div.change_series {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 895px;
    z-index: 5;
}

div.change_series div.menu_and_button {
    text-align: right;
}