div.menu {
    font-family: arial;
}

/* ul */
div.menu ul {
    margin: 0px;
    padding: 0px;
}

div.sub_sub_menu ul {
    list-style: none;
}

/* li */
div.main_menu ul li {
    display: block;
    position: relative;
    float: left;
}

div.sub_menu ul li {
    display: block;
    position: relative;
    float: left;
}

div.sub_sub_menu ul li {
    text-align: center;
    margin-bottom: 2px;
    float: left;
}

/* a */
div.menu ul li a {
    color: white;
    background-color: olive;
    text-decoration: none;
}

div.main_menu ul li a {
    display: block;
    float: left;
    margin-right: 4px;
    border: white solid 1px;
    border-bottom-width: 0;
    padding: 6px 6px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

div.sub_menu ul li a {
    display: block;
    float: left;
    border-right: white solid 1px;
    padding: 6px 6px;
}

div.sub_sub_menu ul li a {
    margin-right: 0px;
    display: block;
    width: 110px;
    padding: 3px;
    border: white solid 1px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* a:hover */
div.menu ul li a:hover {
    color: olive;
    background-color: white;
}

div.main_menu ul li a:hover {
    border-bottom-color: white;
}

div.sub_sub_menu ul li a:hover {
    border-right-color: white;
}

/* a.selected */
div.menu ul li a.selected {
    color: olive;
    background-color: white;
}

/* dropdown (div.menu ul li -> ul) */
div.menu ul li ul {
    position: absolute;
    display: none;
    top: 27px;
}

div.menu ul li ul a {
    white-space: nowrap;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-width: 1px;
}

div.menu ul li:hover ul {
    display: block;
}

div.sub_menu ul li ul a {
    border-color: white;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    width: 150px;
}