div.menu {
    font-family: arial;
    overflow: hidden;
}

/* ul */
div.menu ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

div.series_sub_menu ul {
    list-style: none;
}

/* li */
div.main_menu ul li {
    display: inline;
}

div.sub_menu ul li {
    display: inline;
}

div.series_sub_menu ul li {
    text-align: center;
    margin-bottom: 2px;
    float: left;
}

/* a */
div.menu ul li a {
    color: white;
    background-color: olive;
    text-decoration: none;
}

div.main_menu ul li a {
    float: left;
    margin-right: 4px;
    border: white solid 1px;
    border-bottom-width: 0;
    padding: 6px 6px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

div.sub_menu ul li a {
    float: left;
    border-right: white solid 1px;
    padding: 6px 6px;
}

div.series_sub_menu ul li a {
    margin-right: 0px;
    display: block;
    width: 110px;
    padding: 5px 4px;
    border: white solid 1px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* a:visited */
div.menu ul li a:visited {
    color: white;
}

/* a:hover */
div.menu ul li a:hover {
    color: olive;
    background-color: white;
}

div.main_menu ul li a:hover {
    border-bottom-color: white;
}

div.series_sub_menu ul li a:hover {
    border-right-color: white;
}

/* a.selected */
div.menu ul li a.selected {
    color: olive;
    background-color: white;
}