div.error, div.warning, div.success, div.important, div.info {
    padding: 3px 3px 3px 30px;
    min-height: 19px;
}

div.field_with_errors {
    color: #CC3300;
    display: inline;
}

div.error {
    background-image: url('/images/error.png');
    background-repeat: no-repeat;
    background-color: #CC3300;
    color: white;
    margin-bottom: 8px;
    border: 1px solid olive;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.error ul {
    margin: 0px;
    list-style: none;
    padding-left: 0px;
}

span.error {
    background-color: #CC3300;
    color: white;
}

div.warning {
    background-image: url('/images/warning.png');
    background-repeat: no-repeat;
    background-color: #FF7F00;
    color: white;
    margin-bottom: 8px;
    border: 1px solid olive;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.important {
    background-image: url('/images/important.png');
    background-repeat: no-repeat;
    background-color: #FF7F00;
    color: white;
    margin-bottom: 8px;
    border: 1px solid olive;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.success {
    background-image: url('/images/success.png');
    background-repeat: no-repeat;
    background-color: olive;
    color: white;
    margin-bottom: 8px;
    border: 1px solid olive;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

span.success {
    background-color: olive;
    color: white;
}

li.success {
    background-color: olive;
    color: white;
}

div.info {
    background-image: url('/images/info.png');
    background-repeat: no-repeat;
    border: solid 1px #27A;
    background-color: #27A;
    color: white;
    margin-bottom: 7px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.info_flash {
    background-image: none;
}