body {
    font-family: arial;
    font-size: 12px;
}

h2 {
    margin-top: 10px;
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

th {
    text-align: left;
    padding: 2px 5px;
}

td {
    padding: 2px 5px;
}

a {
    color: olive;
}

a:hover {
    text-decoration: underline;
}