div.offline_limit {
    width: 906px;
    margin: 0 0 5px 10px;
    padding: 3px;
    background-color: #FF7F00;
    color: white;
    text-align: center;
    border: white solid 1px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

div.offline_limit a {
    color: white;
    text-decoration: underline;
}

div.header {
    width: 910px;
    margin-left: 10px;
}

div.main_title {
    clear: left;
    width: 900px;
    background-color: olive;
    padding: 4px 0px 4px 10px;
    border: 1px solid white;
    margin-left: 10px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

div.main_title span {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

div.second_level_menu {
    width: 910px;
    margin-left: 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    overflow: hidden;
}

div.middle_section {
    width: 1032px;
    overflow: hidden;
    margin-left: 10px;
}

div.footer {
    width: 910px;
    overflow: hidden;
    margin-left: 10px;
}

div.middle_section_no_menus {
    width: 912px;
}

div.main_menu {
    float: left;
    width: 560px;
    padding-left: 5px;
}

div.sub_menu {
    float: left;
    width: 914px;
}

div.sub_sub_menu {
    margin: 0px;
    width: 120px;
    float: right;
}

div.env_info {
    text-align: right;
    width: 920px;
    color: orange;
}

span.env_info_link {
    cursor: pointer;
    text-decoration: underline;
}

div.login_links {
    float: left;
    color: white;
    text-align: right;
    width: 345px;
    padding-top: 5px;
}

div.login_links a {
    color: white;
}

div.main_content {
    width: 890px;
    padding: 3px 10px 10px 10px;
    background-color: white;
    border: white solid 1px;
    border-top: none;
    float: left;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

div.footer {
    color: white;
    text-align: center;
    padding: 5px 0px;
}

div.footer a {
    color: white;
    text-decoration: none;
}

div.footer a:hover {
    text-decoration: underline;
}
