- content_for(:title, t('.title'))
- content_for(:page_title, yield(:title))
= form_for @user, url: account_path, html: { class: 'form' } do |f|
  = render :partial => 'form', :object => f
  .form__buttons
    = f.submit t(:update), class: 'button button--primary'
.buttons.buttons--nav
  = link_to t('.back_to_account_page'), account_path, class: 'button button--back'
