<body>
  <%= render :partial => 'shared/menu' %>
  <%= render :partial => 'shared/env_info' %>
  <div class="login_links"><%= render :partial => "shared/login_links" %></div>
  <div class="main">
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
