<body>
  <div id="header">
    Hirviurheilu
  </div>
  <div id="main_area">
    <div id="main_content"><%= yield %></div>
  </div>
  <div id="footer">
    <%= link_to 'L채het채 palautetta', new_feedback_path %><br/>
    <%= link_to 'Normaalin채kym채', root_path(variant: :normal), "data-no-turbolink" => true %>
  </div>
</body>
