<body>
  <div class="official_breadcrumb navigation">
    <%= render :partial => "shared/official_breadcrumb" %>
  </div>
  <div class="login_links navigation"><%= render :partial => "shared/login_links" %></div>
  <div class="breadcrumb navigation"><%= render :partial => "shared/breadcrumb" %></div>
  <div class="main"><%= yield %></div>
</body>
