<%= link_to "Etusivu", root_path, :class => 'navigation' %>
<% if @race %>
  &gt; <%= @race.name %>
<% elsif @series %>
  &gt; <%= link_to @series.race.name, race_path(@series.race), :class => 'navigation' %>
  &gt; <%= @series.name %>
<% elsif @competitor %>
  &gt; <%= link_to @competitor.series.race.name, race_path(@competitor.series.race), :class => 'navigation' %>
  &gt; <%= link_to @competitor.series.name, series_competitors_path(@competitor.series), :class => 'navigation' %>
  &gt; <%= full_name(@competitor) %>
<% end %>
