<div id="<%= corner ? 'company_contact_corner' : '' %>" class="company_contact">
  <span class="title">Palvelun toimittaja:</span><br/>
  Karhatsu IT Consulting Oy<br/>
  <%= link_to "www.karhatsu.com", "http://www.karhatsu.com", :target => '_blank' %>
</div>