<div id="company_contact">
  <span class="title">Palvelun toimittaja:</span><br/>
  Henri Karhatsu IT Consulting<br/>
  <%= link_to "www.karhatsu.com", "http://www.karhatsu.com", :target => '_blank' %>
</div>