<div class="menu sub_menu">
  <ul>
    <% @cup.cup_series.each do |cup_series| %>
      <%= menu_item cup_series.name, cup_cup_series_path(@cup, cup_series),
        cup_series == @cup_series, 18 %>
    <% end %>
  </ul>
</div>