<% menu_cup_series = @cup_series ? @cup_series : @cup.cup_series.first %>
  <div class="second_level_menu">
    <div class="menu sub_menu">
      <ul>
        <%= menu_item 'Cup-kilpailun etusivu', cup_path(@cup), @is_cup_main %>
        <%= menu_item 'Tulokset', cup_cup_series_path(@cup, menu_cup_series.name), @is_cup_series, nil, true do %>
          <% cup_series_dropdown_menu(@cup) %>
        <% end %>
      </ul>
    </div>
  </div>
