%br
%br
%hr
Tämä viesti on lähetetty Hirviurheilu-järjestelmästä. Älä vastaa siihen.
%br
Jos haluat ottaa yhteyttä Hirviurheiluun, voit lähettää palautetta osoitteessa:
%br
%a{href: new_feedback_url}= new_feedback_url