<% if ProductionEnvironment.staging? %>
  <span class="env_info"><span class="env_info_link">testiympäristö</span></span>
  <div id="env_info_dialog" class="dialog" style="display: none;">
    Käytät Hirviurheilun testiympäristöä. Se tarkoittaa seuraavia asioita:
    <ul>
      <li>Voit syöttää järjestelmään mitä (testi)dataa tahansa.</li>
      <li>Datan säilyvyydestä ei ole takeita.</li>
      <li>Käyttö on ilmaista.</li>
      <li>Ympäristöä ei saa käyttää oikeiden kilpailujen järjestämiseen.</li>
    </ul>
    Toisin sanoen tätä ympäristöä ei ole tarkoitettu oikeiden kilpailujen
    järjestämiseen, ainoastaan niiden testaamiseen sekä palvelun kokeilemiseen
    ja sen käytön harjoitteluun.
    <br/><br/>
    <a href="<%= PRODUCTION_URL %>">Siirry varsinaiseen Hirviurheilu-palveluun
      tästä linkistä.</a>
  </div>
  <script type="text/javascript">
    $('.env_info_link').click(function() {
      $('#env_info_dialog').dialog({
        title: 'Testiympäristöinfo',
        closeText: '',
        width: 500
      });
    });
  </script>
<% end %>