- if facebook_env?
  .fb-like-box-container
    .fb-like-box{'data-href': 'http://www.facebook.com/Hirviurheilu', 'data-width': 360, 'data-show-faces': 'false', 'data-stream': 'false', 'data-header': 'true'}
