%meta{property: 'og:locale', content: locale.to_s}
%meta{property: 'og:site_name', content: 'Hirviurheilu'}
%meta{property: 'og:title', content: yield(:title).blank? ? t('home.show.main_title') : yield(:title)}
%meta{property: 'og:description', content: 'Hirviurheilu - Hirvenhiihdon ja hirvenjuoksun tulospalvelu'}
%meta{property: 'og:image', content: image_url('ski_icon.gif')}
%meta{property: 'og:image:type', content: 'image/gif'}
%meta{property: 'og:image:width', content: '22'}
%meta{property: 'og:image:height', content: '22'}
%meta{property: 'fb:app_id', content: '120627801450676'}
