<% if facebook_env? %>
  <div>
      <div class="fb-like-box home_page_fb_like" data-href="http://www.facebook.com/Hirviurheilu"
        data-width="360" data-show-faces="false" data-stream="false"
        data-header="true"></div>
  </div>
<% end %>
