&copy; 2010 - <a href="http://www.karhatsu.com" target="_blank">Karhatsu IT Consulting Oy</a> -
<%= link_to "Lähetä palautetta", new_feedback_path %>
<% if Rails.env.development? %>
  <br/><%= render :partial => "shared/change_mode" %>
<% end %>