= link_to 'Palaute', new_feedback_path, class: 'footer_link'
%span -
= link_to 'Toimitsijat', official_root_path, class: 'footer_link'
%span -
= link_to 'Normaalinäkymä', root_path(variant: :normal), 'data-turbolinks' => false, class: 'footer_link'
