&copy; 2010
%a{href: 'http://www.karhatsu.com', target: '_blank'} Karhatsu IT Consulting Oy
\-
= link_to t(:send_feedback), new_feedback_path
\-
= link_to 'Mobiilinäkymä', root_path(variant: :mobile), 'data-turbolinks' => false