= link_to 'Palaute', new_feedback_path, class: 'footer_link'
%span -
= link_to 'Toimitsijat', official_root_path, 'data-no-turbolink' => true, class: 'footer_link'
%span -
= link_to 'Normaalinäkymä', root_path(variant: :normal), 'data-no-turbolink' => true, class: 'footer_link'
