<% if item.errors.any? %>
  <div class="error_explanation">
    <div>Virhe:</div>
    <ul>
      <% item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>