<div class="second_level_menu">
  <div class="menu sub_menu">
    <ul>
      <%= menu_item 'Tietoa Hirviurheilusta', info_path, @is_info_main %>
      <%= menu_item 'Kysymyksiä ja vastauksia', answers_path, @is_answers %>
      <%= menu_item 'Palaute', new_feedback_path, @is_feedback %>
    </ul>
  </div>
</div>
