<% unless current_user %>
  <%= link_to "Kirjaudu sisään", login_path, :class => 'navigation' %>
  <span class="navigation">|</span>
  <%= link_to "Unohtunut salasana", new_reset_password_path, :class => 'navigation' %>
<% end %>
<%= link_to "Kirjaudu ulos", logout_path, :method => :delete, :class => 'navigation' if current_user %>