<% if current_user %>
  <%= link_to "Kirjaudu ulos, #{current_user.first_name}", logout_path,
    :method => :delete, :class => 'navigation' %>
<% else %>
  <%= link_to "Kirjaudu sisään", login_path, :class => 'navigation' %>
  <span class="navigation">|</span>
  <%= link_to "Unohtunut salasana", new_reset_password_path, :class => 'navigation' %>
<% end %>