<div class="second_level_menu">
  <div class="menu sub_menu">
    <ul>
      <%= menu_item "Online vai Offline?", offline_vs_online_path, @is_offline_vs_online %>
      <%= menu_item "Offline-asennus", offline_installation_path, @is_offline_installation %>
      <%= menu_item "Hinta", offline_price_path, @is_offline_price %>
    </ul>
  </div>
</div>