<div class="offline_limit">Voit lisätä vielä
  <span id="free_offline_competitors_left"><%= Competitor.free_offline_competitors_left %></span>
  kilpailijaa. <%= link_to 'Hanki lisenssi.', new_license_path %></div>