<%
menu_race, menu_series = nil, nil
show_series = false
if @race
  menu_race = @race
  menu_series = @race.series.first
elsif @series
  menu_race = @series.race
  menu_series = @series
  show_series = true unless @competitor
elsif @competitor
  menu_race = @competitor.series.race
  menu_series = @competitor.series
end
%>
<% if menu_race %>
  <%= render :partial => 'shared/race_title', :locals => { :race => menu_race,
    :show_series => show_series } %>
  <div class="menu sub_menu sub_menu_left">
    <ul>
      <%= menu_item "Sarjat", race_path(menu_race), @is_race %>
      <% if menu_series %>
        <%= menu_item "Lähtölistat", start_list_path(menu_series), @is_start_list %>
        <%= menu_item "Tulokset", series_competitors_path(menu_series), @is_results %>
      <% end %>
    </ul>
  </div>
<% end %>