<%
menu_race, menu_series = nil, nil
if @race
  menu_race = @race
  menu_series = @race.series.first
elsif @series
  menu_race = @series.race
  menu_series = @series
elsif @competitor
  menu_race = @competitor.series.race
  menu_series = @competitor.series
end
%>
<% if menu_race %>
  <%= render :partial => 'shared/race_title', :locals => { :race => menu_race } %>
  <div class="menu sub_menu">
    <ul>
      <%= menu_item "Sarjat", race_path(menu_race), @is_race %>
      <%= menu_item "Lähtölistat", start_list_path(menu_series), @is_start_list %>
      <%= menu_item "Tulokset", series_competitors_path(menu_series), @is_results %>
    </ul>
  </div>
<% end %>