<title><%= Rails.env == 'production' ? '' :
    (Rails.env == 'development' ?
      '(Dev) ' : '(Testi) ') %><%= yield(:title) != '' ? yield(:title) :
    "Hirvenhiihdon ja hirvenjuoksun tulospalvelu" %></title>