<div class="right_column title_box commercial_box">
  <div class="box_title">Tiedotteet</div>
  <div class="title_box_content announcements">
    <table>
      <% @announcements.each do |a| %>
        <tr>
          <td><%= a.published %></td>
          <td><a href="javascript:void(0);" id="<%= a.id %>" class="announcement_link"><%= a.title %></a></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div id="announcement_dialog" style="display:none;">
  <div id="announcement_content"></div>
</div>
<%= javascript_tag do %>
  $('.announcement_link').click(function() {
    $.getJSON('/announcements/' + $(this).attr('id'), function(announcement) {
      $('#announcement_content').html(announcement.content);
      $('#announcement_dialog').dialog({
        title: announcement.title,
        closeText: 'Sulje'
      });
    });
  });
  $('#announcement_content a').live('click', function() {
    $('#announcement_dialog').dialog('close');
  });
<% end %>
