- unless @announcements.empty?
  %h2.emphasize
    %i.material-icons-outlined.md-18 info
    = t 'home.show.announcements'
  .row#home_page_announcements
    - @announcements.each do |ann|
      .col-xs-12.col-sm-6.col-md-4
        %a.card{href: announcement_path(ann)}
          .card__middle
            .card__name= ann.title
            .card__middle-1= date_print ann.published
    .extra_card.col-xs-12.col-sm-6.col-md-4
      = link_to t(:all_announcements), announcements_path, class: 'secondary_link'
