.title_box.commercial_box.special_box
  .box_title Kisaj채rjest채j채
  .title_box_content
    %div Hirviurheilu tarjoaa nyt erikoishintaisia hinnoittelupaketteja!
    .links
      = link_to 'Pyyd채 tarjous', new_offer_path, class: 'commercial_box_link'
