<div class="title_box commercial_box">
  <div class="box_title">Kilpailun järjestäjille</div>
  <div class="title_box_content">
    <div>Hirviurheilu on erinomainen valinta kisojesi tulospalveluksi!</div>
    <div class="changing_text_wrapper">
      <div id="changing_text_official">
        <div><span class="keyword">Luotettu</span> - jo 4. kertaa hirvenhiihdon SM-kisojen tulospalveluna</div>
        <div><span class="keyword">Helppokäyttöinen</span> - palvelu on heti käytössäsi ja sitä on helppo käyttää</div>
        <div><span class="keyword">Nopeuttava</span> - useampi toimitsija voi syöttää tuloksia yhtä aikaa</div>
        <div><span class="keyword">Reaaliaikainen</span> - tulokset ovat välittömästi yleisön nähtävissä</div>
        <div><span class="keyword">Luotettava</span> - syötä kilpailijoiden suoritukset, palvelu hoitaa loput</div>
        <div><span class="keyword">Joustava</span> - voit luoda juuri ne sarjat kuin haluat</div>
        <div><span class="keyword">Monipuolinen</span> - myös joukkuekilpailut, viestit ja cup-kilpailut</div>
        <div><span class="keyword">Tehostava</span> - cup-kilpailuiden tuloslaskenta vähimmäisvaivalla</div>
        <div><span class="keyword">Jännittävä</span> - mahdollistaa lähes reaaliaikaisen seurannan kotikatsomoissa</div>
      </div>
    </div>
    <div class="links">
      <%= link_to 'Lue lisää', info_path, :class => 'commercial_box_link' %>
      <% unless current_user %>
        tai
        <%= link_to 'Aloita käyttö', register_path, :class => 'commercial_box_link' %>
      <% end %>
    </div>
  </div>
</div>
<div class="title_box commercial_box">
  <div class="box_title">Kilpailijoille</div>
  <div class="title_box_content">
    <div>Muista suositella Hirviurheilua kilpailuiden järjestäjille!</div>
    <div class="changing_text_wrapper">
      <div id="changing_text_competitor">
        <div>Lähtöaikasi voi olla saatavillasi hyvissä ajoin ennen kilpailua</div>
        <div>Helppokäyttöinen palvelu nopeuttaa tulosten saamista suorituksen jälkeen</div>
        <div>Voit luottaa siihen, että tulokset on laskettu oikein</div>
        <div>Pystyt tarkastamaan tulokset netistä jopa jo kilpailun aikana</div>
        <div>Kotijoukkosi voivat seurata kilpailua reaaliaikaisesti</div>
        <div>Kilpailun jälkeen voit jossitella tuloksia kotona</div>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function() {
    $("#changing_text_official").bxSlider({
      auto: true,
      infiniteLoop: true,
      nextText: '',
      pause: 6000,
      prevText: '',
      randomStart: true,
      speed: 1500
    });
    $("#changing_text_competitor").bxSlider({
      auto: true,
      autoDelay: 3000,
      infiniteLoop: true,
      nextText: '',
      pause: 6000,
      prevText: '',
      randomStart: false,
      speed: 1500
    });
  });
<% end %>
