- limit = defined?(max) ? max : 1.0/0.0
- races.each_with_index do |race, index|
  = render partial: 'home/race_link', locals: {icon: true, race: race}
  - if index + 1 == limit
    %hr
    .all_races_link
      = link_to t('home.show.all_competitions'), races_path
    - break
