- limit = defined?(max) ? max : 1.0/0.0
- races.each_with_index do |race, index|
  - break if index == limit
  = render partial: 'home/race_link', locals: {race: race}
  - if index + 1 == limit
    #all_races_link.col-xs-12.col-sm-6.col-md-4.col-lg-3
      .secondary_link= link_to t('home.show.all_competitions'), races_path
