.col-xs-12.col-sm-6.col-md-4.col-lg-3
  %a.card{href: race_path(race)}
    .card__middle
      .card__name= race.name
      .card__middle-1 #{date_interval(race.start_date, race.end_date)}, #{race.location}
