- limit = defined?(max) ? max : 1.0/0.0
- competitions.each_with_index do |competition, index|
  - if competition.is_a?(Cup)
    .cup
      = render partial: 'home/race_link', locals: {icon: true, competition: competition}
      - competition.races.each do |race|
        = render partial: 'home/race_link', locals: {icon: true, competition: race, secondary: true}
  - else
    = render partial: 'home/race_link', locals: {icon: true, competition: competition}
  - if index + 1 == limit
    %hr
    .all_races_link
      = link_to t('home.show.all_competitions'), races_path
    - break
