<%= content_for(:title, 'Hirvenhiihdon ja hirvenjuoksun tulospalvelu') %>
<h1><%= yield :title %></h1>

<h2>Hirvenjuoksu</h2>
<%= render :partial => "race_list", :locals => { :races => @run.races } %>

<h2>Hirvenhiihto</h2>
<%= render :partial => "race_list", :locals => { :races => @ski.races } %>