$('#competitor_<%= @competitor.id %>').children().remove();
$('#competitor_<%= @competitor.id %>').append('<td colspan="6"><%= t 'official.competitors.index.competitor_removed' %></td>');
/*$('#competitor_<%= @competitor.id %>').attr('style', 'display: none;');*/