$('#competitor_<%= @competitor.id %>').children().remove();
$('#competitor_<%= @competitor.id %>').append('<td colspan="5">Kilpailija poistettu.</td>');
/*$('#competitor_<%= @competitor.id %>').attr('style', 'display: none;');*/