<div class="error">
  Olet tallentanut järjestelmään <%= Competitor::MAX_FREE_COMPETITOR_AMOUNT_IN_OFFLINE %>
  kilpailijaa. Ennen kuin voit lisätä uusia kilpailijoita,
  sinun täytyy hankkia tuotteeseen lisenssi.
</div>