<h1><%= @race.name %> - Lähtöajat</h1>
<%= @race.location %>, <%= race_date_interval(@race) %>
<%= render :partial => 'table',
  :locals => { :show_series => true, :race => @race,
  :competitors => @race.competitors.order('start_time').includes(:series, :club, :age_group) } %>