<% content_for :title, "Hirviurheilu Online vai Hirviurheilu Offline?" %>
<% content_for :page_title, yield(:title) %>
<h2>Mitä eroa on Hirviurheilun Online ja Hirviurheilu Offline -tuotteilla?</h2>
<div class="section">
  Hirviurheilu Online on internetissä toimiva hirvenhiihdon ja hirvenjuoksun
  tulospalvelu, joka vaatii
  internet-yhteyden ja on käytettävissäsi ilman erillisiä toimenpiteitä.
  <% if online? %>
    <i>Käytät parhaillasi Hirviurheilu Online -palvelua.</i>
  <% end %>
  <br/><br/>
  Hirviurheilu Offline on hirvenhiihdon ja hirvenjuoksun tulospalveluohjelma,
  joka asennetaan toimitsijan tietokoneelle
  ja jonka käyttäminen ei vaadi internet-yhteyttä.
</div>

<h2>Miksi kannattaa valita Hirviurheilu Online?</h2>
<div class="section">
  Mikäli kisapaikalla on internet-yhteys (kiinteä tai
  <%= link_to 'riittävän luotettava 3g-yhteys',
    answers_path(:open => 'connection', :anchor => 'connection'),
    :'data-no-turbolink' => true %>),
  kannattaa ensisijaisesti käyttää Online-versiota:
  <ul class="positive">
    <li>Tulospalvelu on reaaliaikainen. Kaikki tulokset näkyvät välittömästi
      internetissä ilman erillisiä toimenpiteitä.</li>
    <li>Useampi toimitsija voi syöttää saman kilpailun tietoja, jolloin
      tulosten valmistuminen nopeutuu huomattavasti.</li>
    <li>Lähtölistat voidaan julkaista etukäteen internetissä kilpailijoiden
      nähtäväksi.</li>
    <li>Palvelun käyttöönotto on erittäin helppoa eikä vaadi mitään asennusta.</li>
    <li>Kaikki palveluun tehtävät päivitykset (esim. uudet ominaisuudet) ovat
      automaattisesti käytössäsi.</li>
  </ul>
  Jos sinulla on mahdollisuus käyttää Online-versiota, voit aloittaa sen käytön
  välittömästi <%= link_to 'rekisteröitymällä palveluun', register_path %>.
</div>

<h2>Miksi kannattaa valita Hirviurheilu Offline?</h2>
<div class="section">
  Jos kisapaikalla ei ole verkkoyhteyttä tai se on epäluotettava,
  on Hirviurheilu Offline erinomainen vaihtoehto hirvenhiihdon ja hirvenjuoksun
  tulospalveluohjelmaksi:
  <ul class="positive">
    <li>Kyseessä on sama helppokäyttöinen ohjelma kuin Online-versiossakin.
      Lue palvelun hyödyistä lisää <%= link_to 'Info-sivulta', info_path %>.</li>
    <li>Kun tietokoneesi on jälleen internet-yhteyden ulottuvilla,
      voit ladata kilpailun tulokset helposti kilpailijoiden nähtäville
      Hirviurheilu Online -palveluun.</li>
  </ul>
</div>

<h2>Kuinka Hirviurheilu Offline -tuotteen voi asentaa?</h2>
<div class="section">
  <%= link_to 'Katso Hirviurheilu Offline -tuotteen asennusohjeet.',
    offline_installation_path %>
</div>