<% content_for :title, "Hirviurheilu Online vai Hirviurheilu Offline?" %>
<% content_for :page_title, yield(:title) %>
<h2>Mitä eroa on Hirviurheilun Online ja Hirviurheilu Offline -tuotteilla?</h2>
Hirviurheilu Online on internetissä toimiva tulospalvelu, joka vaatii
internet-yhteyden ja on käytettävissäsi ilman erillisiä toimenpiteitä.
Hirviurheilu Offline on tulospalveluohjelma, joka asennetaan tietokoneelle
ja jonka käyttäminen ei vaadi internet-yhteyttä.
<% if online? %>
  Käytät parhaillasi Hirviurheilu Online -palvelua.
<% end %>

<h2>Miksi kannattaa valita Hirviurheilu Online?</h2>
Mikäli kisapaikalla on internet-yhteys (kiinteä tai
<%= link_to 'riittävän luotettava 3g-yhteys',
  info_path(:open => 'connection', :anchor => 'connection') %>),
kannattaa ensisijaisesti käyttää Online-versiota:
<ul class="positive">
  <li>Tulospalvelu on reaaliaikainen. Kaikki tulokset näkyvät välittömästi
    internetissä ilman erillisiä toimenpiteitä.</li>
  <li>Useampi toimitsija voi syöttää saman kilpailun tietoja, jolloin
    tulosten valmistuminen nopeutuu huomattavasti.</li>
  <li>Lähtölistat voidaan julkaista etukäteen internetissä kilpailijoiden
    nähtäväksi.</li>
  <li>Palvelun käyttöönotto on erittäin helppoa eikä vaadi mitään asennusta.</li>
  <li>Kaikki palveluun tehtävät päivitykset (esim. uudet ominaisuudet) ovat
    automaattisesti käytössäsi.</li>
</ul>
Jos sinulla on mahdollisuus käyttää Online-versiota, voit aloittaa sen käytön
välittömästi <%= link_to 'rekisteröitymällä palveluun', register_path %>.

<h2>Miksi kannattaa valita Hirviurheilu Offline?</h2>
Jos kisapaikalla ei ole verkkoyhteyttä tai se on epäluotettava,
on Hirviurheilu Offline erinomainen vaihtoehto hirvenhiihdon ja hirvenjuoksun
tulospalveluohjelmaksi:
<ul class="positive">
  <li>Kyseessä on sama helppokäyttöinen ohjelma kuin Online-versiossakin.
    Lue palvelun hyödyistä lisää <%= link_to 'Info-sivulta', info_path %>.</li>
  <li>Kun tietokoneesi on jälleen internet-yhteyden ulottuvilla,
    voit ladata kilpailun tulokset helposti kilpailijoiden nähtäville
    Hirviurheilu Online -palveluun.</li>
</ul>

<h2>Kuinka Hirviurheilu Offline -tuotteen voi asentaa?</h2>
<%= link_to 'Katso Hirviurheilu Offline -tuotteen asennusohjeet.',
  offline_installation_path %>