<% content_for :title, t('offline.price.title') %>
<% content_for :page_title, yield(:title) %>
<h2><%= t('offline.price.new_pricing_title') %></h2>
<%= t('offline.price.new_pricing') %>
<%= link_to t('offline.price.read_more_about_new_pricing'), prices_path %>