<% content_for :title, "Hirviurheilu Offline - hinta" %>
<% content_for :page_title, yield(:title) %>
<h2>Hinnoittelu uudistunut</h2>
Hirviurheilun hinnoittelu on uudistunut 2.2.2013.
<%= link_to 'Tutustu uuteen hinnoitteluun', prices_path %>