<% content_for :title, "Hirviurheilu Offline versiohistoria" %>
<% content_for :page_title, yield(:title) %>
<div class="info">Tällä sivulla näet Hirviurheilu Offline -tuotteeseen tehdyt muutokset.
  Voit ladata uusimman version <a href="/offline_installation">Offline-asennus-sivulta</a>.</div>
<div class="info">Huomaa, että Hirviurheilu Online -palvelun uusimmat ominaisuudet ovat aina
  automaattisesti käytössäsi ilman erillisiä toimenpiteitä.</div>
<h2>1.0.4 - 22.1.2012</h2>
<ul>
  <li>PDF-tiedostojen header-/footer-ongelman korjaus</li>
</ul>
<h2>1.0.3 - 16.1.2012</h2>
<ul>
  <li>Offline-käynnistyksen virhe korjattu</li>
  <li>Headerit ja footerit PDF-tiedostoihin</li>
  <li>Kilpailijoiden lataaminen CSV-tiedostosta: parannettu erilaisten tiedostojen tunnistusta</li>
</ul>
<h2>1.0.2 - 31.12.2011</h2>
<ul>
  <li>Offlinen käynnistys avaa selaimen automaattisesti</li>
</ul>
<h2>1.0.1 - 31.12.2011</h2>
<ul>
  <li>PDF-tiedostojen luonnin virhe korjattu</li>
  <li>PDF-tuloskooste sisältää myös viestit ja joukkuekilpailut</li>
  <li>Kilpailijoiden näyttämistä viestin ja joukkuekilpailun tuloksissa parannettu</li>
  <li>Suomenkielinen asennusohjelma</li>
</ul>
<h2>1.0 - 13.11.2011</h2>
<ul>
  <li>Uusittu asennusohjelma</li>
</ul>
