<% content_for :title, "Hirviurheilu Offline versiohistoria" %>
<% content_for :page_title, yield(:title) %>
<div class="info">Tällä sivulla näet Hirviurheilu Offline -tuotteeseen tehdyt muutokset.
  Voit ladata uusimman version <a href="/offline_installation">Offline-asennus-sivulta</a>.</div>
<div class="info">Huomaa, että Hirviurheilu Online -palvelun uusimmat ominaisuudet ovat aina
  automaattisesti käytössäsi ilman erillisiä toimenpiteitä.</div>
<h2>1.1.1 - 1.3.2012</h2>
<ul>
  <li>Tulosten järjestäminen eri tulospaikkojen osatulosten suhteen</li>
  <li>Isompi fontti PDF-tiedostoissa</li>
  <li>Jos toimitsija yrittää generoida lähtöluettelon toiseen kertaan, siitä näytetään varoitus ennen generointia</li>
  <li>Ammuntatulosten tallennus korjattu toimimaan Chrome-selaimella</li>
  <li>Seuran poistaminen korjattu toimimaan Internet Explorer 7 ja 8 -selaimilla</li>
</ul>
<h2>1.1.0 - 24.2.2012</h2>
<ul>
  <li>Uudet oletussarjat</li>
  <li>Uusi lähtöajat-sivu toimitsijan puolelle: sivulla voi helposti vaihtaa tietylle lähtöpaikalle toisen kilpailijan</li>
  <li>Tulosluettelossa näytetään kilpailijan vertailuaika, kun laitetaan hiiri aikasolun päälle</li>
  <li>Kaikkien kilpailijoiden PDF-lähtölistan rajaaminen tiettyyn seuraan</li>
  <li>PDF-tuloskoosteeseen sivunvaihdot sarjojen väliin</li>
  <li>Ikäryhmien vertailuajan määrittämistä korjattu tietyissä tapauksissa (kilpailijan automaattinen siirto nuorempaan ikäryhmään, vertailu tarvittaessa myös vanhempien ikäryhmien aikoihin)</li>
  <li>Kahdella kilpailijalla ei saa olla samaa lähtönumeroa (aiemmin rajaus oli yhden sarjan sisällä, nyt koko kilpailun)</li>
  <li>CSV-tuonnin tuplakilpailijavirhe korjattu</li>
  <li>Kilpailijan lisäyssivulla korjattu sarjan vaihdon yhteydessä ilmennyt virhe</li>
</ul>
<h2>1.0.4 - 22.1.2012</h2>
<ul>
  <li>PDF-tiedostojen header-/footer-ongelman korjaus</li>
</ul>
<h2>1.0.3 - 16.1.2012</h2>
<ul>
  <li>Offline-käynnistyksen virhe korjattu</li>
  <li>Headerit ja footerit PDF-tiedostoihin</li>
  <li>Kilpailijoiden lataaminen CSV-tiedostosta: parannettu erilaisten tiedostojen tunnistusta</li>
</ul>
<h2>1.0.2 - 31.12.2011</h2>
<ul>
  <li>Offlinen käynnistys avaa selaimen automaattisesti</li>
</ul>
<h2>1.0.1 - 31.12.2011</h2>
<ul>
  <li>PDF-tiedostojen luonnin virhe korjattu</li>
  <li>PDF-tuloskooste sisältää myös viestit ja joukkuekilpailut</li>
  <li>Kilpailijoiden näyttämistä viestin ja joukkuekilpailun tuloksissa parannettu</li>
  <li>Suomenkielinen asennusohjelma</li>
</ul>
<h2>1.0 - 13.11.2011</h2>
<ul>
  <li>Uusittu asennusohjelma</li>
</ul>
