<div class="action_box">
  <%= form_for([:official, series], :url => official_generate_times_path(series)) do |f| %>
    <%= submit_tag "Lisää kilpailijoille lähtöajat" %> alkaen sarjan lähtöajasta
    (<%= time_print(series.start_time) %>).
    <a class="help" id="generate_start_times_help_link">?</a>
    <div id="generate_start_times_help_dialog" class="dialog" style="display: none;">
      Voit luoda tämän sarjan kilpailijoille lähtöajat helposti painamalla
      'Lisää kilpailijoille lähtöajat'-nappia. Ensimmäisen kilpailijan lähtöajaksi
      tulee se, jonka olet määrittänyt koko sarjan lähtöajaksi
      tämän sivun ylälaidassa.
      <p>Jos jollakin kilpailijalla on jo lähtöaika, napin painaminen ylikirjoittaa sen.</p>
      <p>Mikäli jollekin kilpailijalle on jo syötetty tulostietoja, ei lähtöaikoja
        voi luoda enää automaattisesti, koska tämä viittaa siihen, että kilpailu on jo
        käynnissä. Mikäli sinun tarvitsee muuttaa yksittäisen kilpailijan
        lähtöaikaa, klikkaa hänen nimeään ja muuta aika avautuvalla sivulla.</p>
    </div>
    <script type="text/javascript">
      $('#generate_start_times_help_link').click(function() {
        $('#generate_start_times_help_dialog').dialog({ title: 'Lähtöaikojen luonti',
          closeText: 'Sulje' });
      });
    </script>
  <% end %>
</div>