- content_for(:title, 'Admin - Tiedotteet')
- content_for :page_title, yield(:title)
%h2 Muokkaa tiedotetta
= render :partial => 'form'
.buttons.buttons--nav
  = link_to 'Takaisin tiedotteisiin', admin_announcements_path, class: 'button button--back'
