<% content_for :title, 'Virhe' %>
<% content_for :page_title, yield(:title) %>
<h2>Kilpailua ei löytynyt</h2>
<p>Pyytämääsi kilpailua ei löytynyt (id: <%= @id %>).</p>
<p>Jos tulit tälle sivulla jonkin linkin kautta, voisitko ystävällisesti
<%= link_to 'lähettää palautetta', new_feedback_path %> ja kertoa,
kuinka päädyit tälle virhesivulle. Näin voimme korjata ongelman.</p>
<hr/>
<%= link_to 'Takaisin etusivulle', root_path %>