= link_to t('official_sub_menu.times'), official_series_times_path(series_id), class: 'button'
= link_to t('official_sub_menu.estimates'), official_series_estimates_path(series_id), class: 'button'
= link_to t('official_sub_menu.shooting'), official_series_shots_path(series_id), class: 'button'
