.buttons
  = link_to t('official_sub_menu.times'), official_race_series_times_path(race_id, series_id), class: 'button'
  = link_to t('official_sub_menu.estimates'), official_race_series_estimates_path(race_id, series_id), class: 'button'
  = link_to t('official_sub_menu.shooting'), official_race_series_shots_path(race_id, series_id), class: 'button'
