<div id="team_name_help_dialog" class="dialog" style="display: none;">
  Jos kilpailija osallistuu joukkuekilpailuun, jossa joukkueita ei muodosteta seuran nimen perusteella,
  syötä tähän kenttään kilpailijan joukkueen nimi. Muussa tapauksessa jätä kenttä tyhjäksi.
</div>
<%= javascript_tag do %>
  var team_name_help_title = 'Joukkueen nimi';
<% end %>
