<div id="team_name_help_dialog" class="dialog" style="display: none;">
  Jos kilpailuun kuuluu joukkuekilpailu, jossa joukkueita ei muodosteta
  automaattisesti piirin tai seuran perusteella, syötä tähän kenttään
  sen jotosjoukkueen nimi, johon kilpailija kuuluu.
  <br/><br/>
  Jätä kenttä tyhjäksi, mikäli joukkuekilpailua ei ole tai mikäli
  joukkueet muodostetaan piirin tai seuran perusteella.
</div>
<%= javascript_tag do %>
  var team_name_help_title = 'Jotosjoukkueen nimi';
<% end %>