= render layout: 'official/shared/dialog', locals: { id: 'team_name_help_dialog', title: 'Joukkueen nimi' } do
  Jos kilpailija osallistuu joukkuekilpailuun, jossa joukkueita ei muodosteta seuran nimen perusteella,
  syötä tähän kenttään kilpailijan joukkueen nimi. Muussa tapauksessa jätä kenttä tyhjäksi.
