<% content_for :title, "#{@relay.race.name} - #{@relay.name} - Viestin päättäminen" %>
<h2>Viestin päättäminen</h2>
<% if @relay.finished? %>
  <div class="info">Tämä viesti on jo merkitty päättyneeksi</div>
<% else %>
  <div class="info">
    Kun kaikki viestin tiedot on syötetty, voit alla olevan napin avulla merkitä
    viestin päättyneeksi. Ohjelma tarkastaa automaattisesti, ettei mitään tietoja puutu.
  </div>
  <%= render :partial => 'shared/form_errors', :locals => { :item => @relay } %>
  <%= form_tag(official_relay_finish_relay_path(@relay)) do %>
    <%= submit_tag 'Merkitse viesti päättyneeksi' %>
  <% end %>
<% end %>
<hr/>
<%= link_to 'Takaisin viestien etusivulle', official_race_relays_path(@relay.race) %>