<% content_for :title, "#{@race.name} - #{@tc.name} - #{t(:edit)}" %>
<h2><%= t '.title' %></h2>
<%= render :partial => 'form' %>
<hr/>
<%= link_to t(:back_to_official_team_competitions_page), official_race_team_competitions_path(@race) %>