<% content_for :title, "#{@race.name} - Uusi joukkuekilpailu" %>
<h2>Uusi joukkuekilpailu</h2>
<%= render :partial => 'form' %>
<hr/>
<%= link_to 'Takaisin joukkuekilpailujen etusivulle',
  official_race_team_competitions_path(@race) %>