<div class="section">
  <b>Väliajat:</b>
  <% (@relay.legs_count - 1).times do |i| %>
    <%= link_to "Osuus #{i + 1}", relay_leg_path(@relay, i + 1) %>
  <% end %>
  <%= link_to "Maali", race_relay_path(@relay.race, @relay) %>
</div>