- content_for(:title, 'Lähetä palautetta')
- content_for(:page_title, yield(:title))
.info Offline-versiossa et voi lähettää palautetta suoraan ohjelman kautta.
= render :partial => 'shared/company_contact', :locals => { :corner => false }