- content_for :title, t('prices_sub_menu.ask_for_offer')
- content_for :page_title, yield(:title)
.success Kiitos tarjouspyynnöstä. Otamme sinuun yhteyttä mahdollisimman pian.
%hr
= link_to t(:back_to_home_page), root_path, class: 'back_link'
