%h2 Muokkaa cup-kilpailun asetuksia
= render :partial => 'form', :locals => { submit_label: 'Tallenna' }
%hr
= link_to 'Takaisin cup-kilpailun etusivulle', official_cup_path(@cup), class: 'back_link'
