/*
 *= require jquery-ui/dialog
 *= require jquery-ui/ui-lightness

 *= require links
 *= require buttons
 *= require fonts
 *= require messages
 *= require public-message
 *= require titles
 *= require badges
 *= require spinner

 *= require dialogs
 *= require facebook

 *= require announcements
 *= require csv
 *= require race-organizer

 *= require incomplete-page
 *= require header
 *= require menu
 *= require body
 *= require footer

 *= require card
 *= require form
 *= require results
 *= require levels
*/
