input[type = 'submit'] {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  padding: 10px 16px;
}

.buttons {
  display: flex;
  flex-flow: wrap;
  margin-top: 8px;

  &--mobile {
    margin-top: 16px;
  }

  &--nav {
    margin-top: 16px;
    border-top: 1px #7a7a7a dotted;
    padding-top: 8px;
  }

  .button {
    margin-right: 8px;
    margin-bottom: 8px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    #series_name {
      margin: 0 4px;
    }
  }
}

.button {
  background-color: #fff;
  border: solid 1px olive;
  border-radius: 2px;
  box-shadow: 3px 3px 3px #ccc;
  color: olive;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  align-items: center;
  line-height: 14px;
  padding: 10px 16px;

  &:hover {
    background: linear-gradient(to right, rgba(29, 99, 153, 0.9), rgba(29, 99, 153, 0.7));
    color: #fff;
    text-decoration: none;
  }

  &--primary {
    background: olive linear-gradient(to right, rgba(128, 128, 0, 0.9), rgba(128, 128, 0, 0.7));
    color: #fff;
  }

  &--danger {
    background: #fff;
    border: 1px solid #CC3300;
    color: #CC3300;

    &::before {
      content: 'clear';
    }

    &:hover {
      background: #CC3300;
      color: #fff;
    }
  }

  &--current {
    background: olive linear-gradient(to right, rgba(128, 128, 0, 0.9), rgba(128, 128, 0, 0.7));
    color: #fff;
    cursor: default;
  }

  &--add::before, &--add_competitor::before, &--add_multiple::before, &--back::before, &--call::before, &--copy::before, &--competitors::before, &--csv::before, &--danger::before, &--done::before, &--down::before, &--edit::before, &--open::before, &--pdf::before, &--place::before {
    font-family: 'Material Icons';
    font-size: 16px;
    margin-right: 6px;
  }

  &--add::before {
    content: 'add';
  }

  &--add_competitor::before {
    content: 'person_add';
  }

  &--add_multiple::before {
    content: 'group_add';
  }

  &--back::before {
    content: 'chevron_left';
  }

  &--call::before {
    content: 'call';
  }

  &--copy::before {
    content: 'content_copy';
  }

  &--competitors::before {
    content: 'people';
  }

  &--csv::before {
    content: 'download';
  }

  &--done::before {
    content: 'done';
  }

  &--down::before {
    content: 'arrow_downward';
  }

  &--edit::before {
    content: 'create';
  }

  &--open::before {
    content: 'open_in_new';
  }

  &--pdf::before {
    content: 'print';
  }

  &--place::before {
    content: 'place';
  }

  &--below-sub-form {
    margin-top: 8px;
  }

  &--disabled {
    background: #999;
    color: #fff;
    pointer-events: none;
  }
}

#show_all_relay_competitors, #hide_all_relay_competitors {
  display: none;
}

@media only screen and (min-width: 48em) {
  .buttons--mobile {
    display: none;
  }

  #show_all_relay_competitors, #hide_all_relay_competitors {
    display: inline-block;
  }

  #show_cup_races, #hide_cup_races {
    display: none;

    &.button--force-mobile {
      display: inline-block;
    }
  }
}
