input[type = 'submit'] {
  font-family: 'Muli', sans-serif;
  font-size: 12px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;

  &--mobile {
    margin-top: 16px;
  }

  &--nav {
    margin-top: 16px;
    border-top: 1px #7a7a7a dotted;
    padding-top: 6px;
  }

  .button {
    margin-right: 8px;
    margin-bottom: 8px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.button {
  background-color: #fff;
  border: solid 1px olive;
  border-radius: 2px;
  box-shadow: 3px 3px 3px #ccc;
  color: olive;
  cursor: pointer;
  display: inline-block;
  line-height: 14px;
  padding: 6px 12px;

  &:hover {
    background: linear-gradient(to right, rgba(29, 99, 153, 0.9), rgba(29, 99, 153, 0.7));
    color: #fff;
    text-decoration: none;
  }

  &--primary {
    background: olive linear-gradient(to right, rgba(128, 128, 0, 0.9), rgba(128, 128, 0, 0.7));
    color: #fff;
  }

  &--danger {
    background: #fff;
    border: 1px solid #CC3300;
    color: #CC3300;

    &::before {
      content: 'clear';
    }

    &:hover {
      background: #CC3300;
      color: #fff;
    }
  }

  &--current {
    background: olive linear-gradient(to right, rgba(128, 128, 0, 0.9), rgba(128, 128, 0, 0.7));
    color: #fff;
    cursor: default;
  }

  &--add::before, &--back::before, &--danger::before, &--edit::before, &--pdf::before, &--down::before {
    font-family: 'Material Icons';
    font-size: 9px;
    margin-right: 2px;
  }

  &--add::before {
    content: 'add';
  }

  &--back::before {
    content: 'chevron_left';
  }

  &--edit::before {
    content: 'create';
  }

  &--pdf::before {
    content: 'print';
  }

  &--down::before {
    content: 'arrow_downward';
  }

  &--below-sub-form {
    margin-top: 8px;
  }

  &--disabled {
    background: #999;
    color: #fff;
    pointer-events: none;
  }
}

#show_all_relay_competitors, #hide_all_relay_competitors {
  display: none;
}

@media only screen and (min-width: 48em) {
  .buttons--mobile {
    display: none;
  }

  #show_all_relay_competitors, #hide_all_relay_competitors {
    display: inline-block;
  }

  #show_cup_races, #hide_cup_races {
    display: none;

    &.button--force-mobile {
      display: inline-block;
    }
  }
}
