div.dialog {
    color: olive;
}

div.ui-dialog-titlebar {
    background-color: olive;
    color: white;
}

.ui-widget-header {
    background-image: none;
}

.ui-widget-content a {
    color: olive;
    text-decoration: underline;
}

.ui-widget-header {
    border-color: olive;
}

.ui-widget-content {
    background: none;
    background-color: white;
    border-color: black;
}
