$inputHeight: 16px;

.form {
  margin-bottom: 16px;

  &--inline {
    display: inline-block;
    margin-bottom: 0;
  }

  .row {
    align-items: center;
  }
}

.form__field-prefix {
  margin-right: 4px;
}

.form__field {
  margin-top: $inputHeight;

  label {
    display: block;
    font-size: 14px;
    font-weight: 600;
  }

  input {
    height: $inputHeight;
    margin-top: $inputHeight / 2;
    padding: 8px;
    width: calc(100% - 18px);
  }

  input[type='button'], input[type='submit'] {
    height: auto;
  }

  input[type='checkbox'] {
    width: 16px;
  }

  input[type='radio'] {
    width: auto;
  }

  select {
    background-color: #fff;
    color: olive;
    height: 34px;
    margin-top: $inputHeight / 2;
    max-width: 100%;
    -webkit-appearance: menulist-button;
  }

  select[multiple] {
    height: 200px;
    width: 300px;
  }

  textarea {
    margin-top: $inputHeight / 2;
  }

  .form__label--radio {
    display: inline;
  }
}

@media only screen and (min-width: 48em) {
  .form__field input {
    width: 24em;
  }
}

.form__field--xs {
  input {
    width: 32px;
  }
}

.form__field--sm {
  input {
    width: 64px;
  }
}

.form__field--md {
  input {
    width: 128px;
  }
}

.form__buttons {
  margin-top: $inputHeight;

  .button {
    padding: 8px 16px;
  }
}

.form__field__info {
  color: #333;
}

textarea {
  padding: 8px;
  width: 95%;
}

@media only screen and (min-width: 48em) {
  textarea {
    width: auto;
  }
}

.form__horizontal-fields {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 16px;

  .form__field {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-right: 16px;

    &--shot {
      margin-right: 6px;
    }

    label {
      margin-right: 8px;
    }

    input, select {
      margin-top: 0;
    }
  }

  .form__buttons {
    margin-top: 0;
    margin-right: 16px;
  }
}

.form__fields--shots {
  margin-top: 0;
}

.form__sub-form {
  background-color: #eee;
  border-radius: 2px;
  margin-bottom: 16px;
  padding: 8px;

  .form__horizontal-fields:first-of-type {
    margin-top: 0;
  }

  .form__sub-form-2 {
    background-color: #fff;
    border-radius: 2px;
    padding: 8px;
    margin: 8px 0;

    h3 {
      font-size: 14px;
      margin: 4px 0;
    }
  }
}

.card {
  .form__horizontal-fields {
    margin-top: 0;
  }
}
