$inputHeight: 16px;

.button {
  border: solid 1px olive;
  border-radius: 2px;
  box-shadow: 3px 3px 3px #ccc;
  cursor: pointer;
  display: inline-block;
  line-height: 14px;
  padding: 6px 12px !important; /* important until input[type='submit'] etc. removed */

  &:hover {
    background: linear-gradient(to right, rgba(29, 99, 153, 0.9), rgba(29, 99, 153, 0.7));
    color: #fff;
    text-decoration: none;
  }

  &--primary {
    background-color: olive;
    background: linear-gradient(to right, rgba(128, 128, 0, 0.9), rgba(128, 128, 0, 0.7));
    color: #fff;
  }

  &--secondary {
    background-color: #fff;
    color: olive;
  }

  &--danger {
    background: #fff !important;
    border: 1px solid #CC3300 !important; /* important until input[type='button'] removed */
    color: #CC3300 !important;

    &:hover {
      background: #CC3300 !important;
      color: #fff !important;
    }
  }

  &--add-age-group, &--add-correct-estimates {
    margin-top: 8px;
  }
}

.form {
  margin-bottom: 16px;

  &--inline {
    display: inline-block;
    margin-bottom: 0;
  }

  .row {
    align-items: center;
  }

  .secondary_link {
    margin-left: 0;
  }
}

.form__field-prefix {
  margin-right: 4px;
}

.form__field {
  margin-top: $inputHeight;

  label {
    display: block;
    font-size: 14px;
    font-weight: 600;
  }

  input {
    height: $inputHeight;
    margin-top: $inputHeight / 2;
    padding: 8px !important; /* important until input[type='text'] etc. removed */
    width: calc(100% - 18px);
  }

  input[type='button'], input[type='submit'] {
    height: auto;
  }

  input[type='checkbox'] {
    width: 16px;
  }

  input[type='radio'] {
    width: auto;
  }

  select {
    height: 34px;
    margin-top: $inputHeight / 2;
    max-width: 100%;
    -webkit-appearance: menulist-button;
  }

  textarea {
    margin-top: $inputHeight / 2;
  }

  .form__label--radio {
    display: inline;
  }
}

@media only screen and (min-width: 48em) {
  .form__field input {
    width: 24em;
  }
}

.form__field--xs {
  input {
    width: 32px !important; /* important until input[type='number'] removed */
  }
}

.form__field--sm {
  input {
    width: 64px !important; /* important until input[type='number'] removed */
  }
}

.form__field--md {
  input {
    width: 128px !important; /* important until input[type='number'] removed */
  }
}

.form__buttons {
  margin-top: $inputHeight;

  .button {
    padding: 8px 16px !important; /* important until input[type='submit'] etc. removed */
  }
}

.form__field__info {
  color: #333;
}

textarea {
  padding: 8px;
  width: 95%;
}

@media only screen and (min-width: 48em) {
  textarea {
    width: auto;
  }
}

.form__fields--horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;

  .form__field {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-right: 16px;

    &--shot {
      margin-right: 6px;
    }

    label {
      margin-right: 8px;
    }

    input, select {
      margin-top: 0;
    }
  }

  .form__buttons {
    margin-top: 0;
    margin-right: 16px;
  }
}

.form__fields--shots {
  margin-top: 0;
}

.form__sub-form {
  background-color: #eee;
  border-radius: 2px;
  margin-bottom: 16px;
  padding: 8px;

  .form__fields--horizontal:first-of-type {
    margin-top: 0;
  }

  .form__sub-form-2 {
    background-color: #fff;
    border-radius: 2px;
    padding: 8px;
    margin: 8px 0;

    h3 {
      font-size: 14px;
      margin: 4px 0;
    }
  }
}

.card {
  .form__fields--horizontal {
    margin-top: 0;
  }
}
