.header {
  background-color: olive;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 4px 0;
  width: 100%;

  &__logo {
    margin: 0 8px;
    width: 32px;

    &--right {
      display: none;
    }
  }

  &__title {
    color: #fff;
    flex-grow: 1;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }

  &__menu {
    color: #fff;
    display: inline;
    margin-right: 8px;
  }

  a:hover {
    text-decoration: none;
  }
}

@media only screen and (min-width: 48em) {
  .header__logo--right {
    display: inline;
  }

  .header__menu {
    display: none;
  }
}
