div.header {
    background-color: olive;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 2px 0 20px 0;
    height: 30px;
    min-width: 1060px;
    width: 100%;
}

div.main_menu {
    display: flex;
    flex-direction: row;
}

div.second_level_menu, div.third_level_menu {
    width: 1060px;
}

div.sub_menu {
    display: flex;
    flex-direction: row;
    background-color: olive;
    border: 1px solid white;
    border-bottom: none;
    float: left;
    width: 1058px;
}

div.menu {
    margin: 0;
    padding: 0;
}

div.main_menu .menu_item {
    display: block;
    position: relative;
    float: left;
}

div.sub_menu .menu_item {
    display: block;
    position: relative;
    float: left;
}

div.menu .menu_item a {
    color: white;
    text-decoration: none;
}

div.main_menu .menu_item a {
    display: block;
    margin: 0;
    padding: 8px 15px;
}

div.sub_menu .menu_item a {
    display: block;
    padding: 7px 9px;
}

div.menu .menu_item a:hover {
    color: olive;
    background-color: white;
}

div.main_menu .menu_item a:hover {
    border-bottom-color: white;
}

div.menu .menu_item a.selected {
    color: olive;
    background-color: white;
}

div.menu .menu_item .dropdown_menu {
    position: absolute;
    display: none;
    z-index: 10;
}

div.main_menu .menu_item .dropdown_menu {
    border: white solid 1px;
    top: 30px;
}

div.sub_menu .menu_item .dropdown_menu {
    border: white solid 1px;
    border-bottom-width: 0;
    top: 28px;
}

div.menu .menu_item .dropdown_menu a {
    white-space: nowrap;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-bottom-width: 1px;
}

div.menu .menu_item:hover .dropdown_menu {
    display: block;
}

div.main_menu .menu_item .dropdown_menu a {
    background-color: olive;
    border-color: white;
    border-style: solid;
    border-width: 0 0 1px 0;
    overflow: hidden;
    width: 200px;
}

div.main_menu .menu_item .dropdown_menu a:hover {
    background-color: white;
    color: olive;
}

div.sub_menu .menu_item .dropdown_menu a {
    background-color: olive;
    border-color: white;
    border-style: solid;
    border-width: 0 0 1px 0;
    width: 150px;
}

div.sub_menu .menu_item .dropdown_menu a:hover {
    background-color: white;
    color: olive;
}
