div.header {
    background-color: olive;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 2px 0 20px 0;
    height: 30px;
    width: 100%;
}

div.menu {
    font-family: arial;
}

div.main_menu {
    float: left;
    padding-left: 0;
}

div.second_level_menu, div.third_level_menu {
    width: 1060px;
}

div.sub_menu {
    background-color: olive;
    border: 1px solid white;
    border-bottom: none;
    float: left;
    width: 1060px;
}

/* ul */
div.menu ul {
    margin: 0px;
    padding: 0px;
}

/* li */
div.main_menu ul li {
    display: block;
    position: relative;
    float: left;
}

div.sub_menu ul li {
    display: block;
    position: relative;
    float: left;
}

/* a */
div.menu ul li a {
    color: white;
    background-color: olive;
    text-decoration: none;
}

div.main_menu ul li a {
    display: block;
    float: left;
    margin: 0;
    padding: 8px 15px;
}

div.sub_menu ul li a {
    display: block;
    float: left;
    padding: 7px 9px;
}

/* a:hover */
div.menu ul li a:hover {
    color: olive;
    background-color: white;
}

div.main_menu ul li a:hover {
    border-bottom-color: white;
}

/* a.selected */
div.menu ul li a.selected {
    color: olive;
    background-color: white;
}

/* dropdown (div.menu ul li -> ul) */
div.menu ul li ul {
    position: absolute;
    display: none;
    z-index: 10;
}

div.main_menu ul li ul {
    border: white solid 1px;
    top: 30px;
}

div.sub_menu ul li ul {
    border: white solid 1px;
    border-bottom-width: 0;
    top: 26px;
}

div.menu ul li ul a {
    white-space: nowrap;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-bottom-width: 1px;
}

div.menu ul li:hover ul {
    display: block;
}

div.sub_menu ul li ul a {
    border-color: white;
    border-style: solid;
    border-width: 0 0 1px 0;
    width: 150px;
}