.message {
  border: solid 1px olive;
  border-radius: 2px;
  box-shadow: 3px 3px 3px #ccc;
  color: white;
  padding: 8px;
  margin: 8px 0;

  a {
    color: white;
    text-decoration: underline;
  }

  &--inline {
    padding: 4px;
  }

  &--error {
    background: linear-gradient(to right, rgba(190, 31, 4, 0.9), rgba(190, 31, 4, 0.7));
    border-color: #CC3300;

    ul {
      margin: 0;
      list-style: none;
      padding-left: 0;
    }
  }

  &--warning {
    background: linear-gradient(to right, rgba(253, 106, 7, 1), rgba(253, 106, 7, 0.7));
    border-color: #FF7F00;
  }

  &--important {
    background: linear-gradient(to right, rgba(253, 66, 7, 1), rgba(253, 66, 7, 0.7));
    border-color: #FF7F00;
  }

  &--success {
    background: linear-gradient(to right, rgba(128, 128, 0, 0.9), rgba(128, 128, 0, 0.7));
    border-color: olive;
  }

  &--info {
    background: linear-gradient(to right, rgba(29, 99, 153, 0.9), rgba(29, 99, 153, 0.7));
    border-color: #27A;

    .help {
      background-color: transparent;
      border: none;
      padding: 0;

      &:hover {
        color: #fff;
      }
    }
  }

  &--flash {
    background: none;
    color: #27A;
  }
}

.help {
  background-color: olive;
  color: white;
  border: olive 1px solid;
  padding: 2px 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;

  &:hover {
    text-decoration: none;
    background-color: white;
    color: olive;
  }
}
