body {
    background-color: olive;
    font-family: monospace;
    font-size: 12px;
}

h2 {
    font-size: 15px;
}

th {
    text-align: left;
}

a {
    color: olive;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header {
    color: #FFF;
    font-size: 16px;
    text-align: center;
}

#main_area {
    margin: 1%;
    width: 96%;
}

#main_content {
    background-color: #FFF;
    border: 1px solid olive;
    border-radius: 2px;
    padding: 3%;
}

#footer {
    text-align: center;
}

#footer a {
    color: #fff;
}

.section {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 5px;
}

.home_page_races {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 0 0 5px;
    padding: 3px;
}

.box_sub_title {
    background-color: #DDEEB5;
    margin: 0 0 3px;
    padding: 2px;
}

.race_link {
    margin: 0 0 5px;
}

.race_info {
    color: #444;
}

.races_of_cup {
    margin: 0 0 0 10px;
}

tr.odd {
    background-color: #DDEEB5;
}
