.pagination {
  margin: 16px 0;

  .first, .prev, .page, .next, .last {
    a {
      background-color: #fff;
      border: solid 1px olive;
      border-radius: 2px;
      box-shadow: 3px 3px 3px #ccc;
      color: olive;
      cursor: pointer;
      display: inline-block;
      line-height: 14px;
      padding: 6px 12px;
      margin-right: 4px;
      margin-top: 4px;
    }

    &:hover {
      a {
        background: olive;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .page.current {
    background: olive;
    color: #fff;
    border: solid 1px olive;
    border-radius: 2px;
    box-shadow: 3px 3px 3px #ccc;
    cursor: pointer;
    display: inline-block;
    line-height: 14px;
    padding: 6px 12px;
    margin-right: 4px;
    margin-top: 4px;
  }
}
