body {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}

h1 {
  margin-top: 16px;
  font-size: 22px;
}

h2 {
  margin: 16px 0 8px;
  font-size: 20px;
}

h3 {
  margin: 12px 0 8px;
  font-size: 18px;

  &.empty-results-competitor-header {
    margin-top: 16px;
  }
}

th {
    text-align: left;
    padding: 2px 5px;
}

tr {
    page-break-inside: avoid;
}

td {
    padding: 2px 5px;
}

a {
    color: olive;
}

a:hover {
    text-decoration: underline;
}

.page-break {
  display:block; clear:both; page-break-after:always;
}

.message--info {
    margin: 8px 0;
}

.shots {
  display: none;
}

$emptyCellWidth: 32px;
$emptyCellMargin: 12px;
$emptyCellMarginRifle: 6px;
$emptyCellBorderWidth: 1px;
$emptyCellGroupingMargin: 32px;
$emptyCellGroupingMarginRifle: 16px;
$emptyCellMysteryMargin: 2px; // even if cell margin is set to 0, there is 2px space between cells

.empty-results-rifle-titles {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%;

  &__title {
    display: inline-block;
    font-size: 12px;
    width: 5 * ($emptyCellWidth + 2 * $emptyCellBorderWidth + $emptyCellMarginRifle + $emptyCellMysteryMargin) + $emptyCellGroupingMarginRifle
  }
}

.empty-results-table {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%;

  &__cell {
    display: inline-block;
    border: $emptyCellBorderWidth solid #000;
    width: $emptyCellWidth;
    height: $emptyCellWidth;
    margin: 0 $emptyCellMargin 2px 0;
    color: #666;
    font-size: 12px;

    &--space {
      margin-right: $emptyCellGroupingMargin;
    }

    &--total {
      width: 82px;
    }
  }
}

.empty-results-table--rifle {
  .empty-results-table__cell {
    margin: 0 $emptyCellMarginRifle 0 0;

    &--space {
      margin-right: $emptyCellGroupingMarginRifle;
    }
  }
}

.row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%;

  .col-xs-4, .col-sm-3, .col-md-2 {
    display: inline-block;
    margin-right: 8px;
  }
}

.competitor-number-page {
  font-size: 32px;
  text-align: center;
  padding-top: 128px;

  &__number {
    font-size: 256px;
    margin-top: 64px;
  }

  &__name {
    font-size: 48px;
  }

  &__name, &__club, &__series, &__batch {
    margin-top: 32px;
  }
}
