body {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}

h1 {
    margin-top: 16px;
    font-size: 25px;
}

h2 {
    margin-top: 24px;
    font-size: 22px;
}

h3 {
    margin-top: 16px;
    font-size: 19px;
}

th {
    text-align: left;
    padding: 2px 5px;
}

tr {
    page-break-inside: avoid;
}

td {
    padding: 2px 5px;
}

a {
    color: olive;
}

a:hover {
    text-decoration: underline;
}

.page-break {
  display:block; clear:both; page-break-after:always;
}

.message--info {
    margin: 8px 0;
}

.shots {
  display: none;
}

.empty-results-table {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%;

  &__cell {
    display: inline-block;
    border: 1px solid #000;
    width: 32px;
    height: 32px;
    margin: 0 12px 0 0;

    &--space {
      margin-left: 12px;
    }

    &--total {
      width: 82px;
    }
  }
}
