div.profiler-results.profiler-left.profiler-no-controls {
    left: 0;
    bottom: 0;
    top: auto;
}

div.profiler-popup {
    top: -300px !important;
}

div.profiler-queries {
    top: -500px !important;
}
