.results-table {
  border-spacing: 0;
  margin-top: 8px;
  margin-bottom: 16px;

  tr.odd {
    background-color: #DDEEB5;
  }

  th {
    text-align: left;
  }

  th, td {
    padding: 8px 12px;
  }
}

.results--desktop {
  display: none;
}

@media only screen and (min-width: 48em) {
  .results--desktop {
    display: block;
  }

  .results--mobile {
    display: none;
  }
}

.shots {
  display: none;

  &--visible {
    display: inline;
  }
}

th.shots--visible, td.shots--visible {
  display: table-cell;
}

.team_name, .team_points {
  font-weight: bold;
}

.center {
  text-align: center;
}

.explanation {
  cursor: help;
}

span.unofficial {
  font-style: italic;
  font-size: 80%;
  cursor: help;
}

span.adjustment {
  cursor: help;
}

.series-best-time {
  font-weight: bold;
}

.total-points {
  font-weight: bold;
}

.cup_results {
  overflow: scroll;
  max-width: 1025px;
}
