.clear {
    clear: both;
}

div.login_and_locale_links {
    color: white;
    text-align: right;
    margin-left: auto;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.login_and_locale_links .navigation {
    margin-left: 8px;
}

div.login_and_locale_links a {
    color: white;
}

.env_info {
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px 0 0;
    text-transform: uppercase;
}

span.env_info_link {
    cursor: pointer;
    text-decoration: underline;
}

.locale_flag {
    background-color: white;
    padding: 1px;
}

div.centered_section {
    margin: 0 auto;
    width: 1060px;
}

div.main_title {
    clear: left;
    width: 1050px;
    padding: 4px 0 4px 10px;
}

div.main_title span {
    color: #fff;
    font-size: 24px;
    text-shadow: 4px 4px 3px #666;
}

div.main_shadow_area {
    background-color: #fff;
    box-shadow: 10px 10px 20px #666;
}

div.main_content {
    background-color: white;
    clear: both;
    overflow: hidden;
    position: relative;
    padding: 10px;
    width: 1040px;
}

#page_spinner {
    display: none;
    position: absolute;
    left: 530px;
    top: 5px;
    z-index: 100;
}

div.footer {
    color: white;
    margin: 20px 0 50px;
    overflow: hidden;
    padding: 5px 0;
    text-align: center;
    width: 1060px;
}

div.footer a {
    color: white;
    text-decoration: none;
}

div.footer a:hover {
    text-decoration: underline;
}
