.clear {
    clear: both;
}

div.offline_limit {
    width: 100%;
    margin: 0 0 5px 0;
    padding: 3px;
    background-color: #FF7F00;
    color: white;
    text-align: center;
    border-bottom: white solid 1px;
}

div.offline_limit a {
    color: white;
    text-decoration: underline;
}

div.login_and_locale_links {
    float: right;
    color: white;
    text-align: right;
    padding: 5px 20px 0 0;
}

div.login_and_locale_links a {
    color: white;
}

.env_info {
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px 0 0;
    text-transform: uppercase;
}

span.env_info_link {
    cursor: pointer;
    text-decoration: underline;
}

.locale_flag {
    background-color: white;
    padding: 1px;
}

div.centered_section {
    margin: 0 auto;
    width: 1060px;
}

div.main_title {
    clear: left;
    width: 1050px;
    padding: 4px 0 4px 10px;
}

div.main_title span {
    color: #fff;
    font-family: arial, helvetica, sans-serif;
    font-size: 24px;
    text-shadow: 4px 4px 3px #666;
}

div.main_shadow_area {
    background-color: #fff;
    box-shadow: 10px 10px 20px #666;
}

div.main_content {
    background-color: white;
    clear: both;
    overflow: hidden;
    position: relative;
    padding: 10px;
    width: 1040px;
}

#page_spinner {
    display: none;
    position: absolute;
    left: 530px;
    top: 5px;
    z-index: 100;
}

div.footer {
    color: white;
    margin: 20px 0 50px;
    overflow: hidden;
    padding: 5px 0;
    text-align: center;
    width: 1060px;
}

div.footer a {
    color: white;
    text-decoration: none;
}

div.footer a:hover {
    text-decoration: underline;
}
