h2 {
  font-size: 22px;
  margin: 24px 0 12px;
  display: flex;
  align-items: center;

  &.emphasize {
    text-transform: uppercase;
  }

  &.cancelled-race-first-header {
    margin-top: 8px;
  }

  .material-icons-outlined {
    margin-right: 4px;
  }
}

h3 {
  font-size: 20px;
  margin: 16px 0 8px;

  &.desktop {
    display: none;

    @media only screen and (min-width: 48em) {
      display: block;
    }
  }
}

.home_page h2:first-of-type {
  margin-top: 24px;
}

.race-title {
  font-size: 20px;

  &__name {
    display: block;
    font-size: 26px;
    margin-bottom: 4px;
  }
}

@media only screen and (min-width: 48em) {
  .race-title__name {
    display: inline;
  }
}
