h1 {
  font-size: 20px;
  margin: 16px 0;
}

h2 {
  font-size: 18px;
  margin: 24px 0 8px;
  display: flex;
  align-items: center;

  &.emphasize {
    text-transform: uppercase;
  }

  .material-icons-outlined {
    margin-right: 4px;
  }
}

h3 {
  font-size: 16px;
  margin: 16px 0 8px;
}

.home_page h2:first-of-type {
  margin-top: 24px;
}

.race-title__name {
  display: block;
}

.race-title__location {
  font-size: 16px;

  &::before {
    content: '(';
  }
}

.race-title__dates {
  font-size: 16px;

  &::after {
    content: ')';
  }
}

@media only screen and (min-width: 48em) {
  .race-title__name {
    display: inline;
  }
}
