<% show_estimate_info = defined?(show_race_unfinished) ? show_race_unfinished : true %>
<% if show_estimate_info and series.active? %>
  <div class="info"><%= t :competition_unfinished_detailed_estimates_later %></div>
<% end %>
<% walking_info = special_series_info(series) %>
<% if walking_info %>
  <div class="info"><%= walking_info %></div>
<% end %>
<% shorter_trip_groups = series.age_groups_with_shorter_trip %>
<% unless shorter_trip_groups.empty? %>
  <div class="info"><%= t :shorter_trip_notice,
                          age_group: shorter_trip_groups.map { |group| group.name }.join(', '),
                          count: shorter_trip_groups.count %></div>
<% end %>