- if series.competitors.any? {|competitor| competitor.has_shots?}
  .buttons
    #show-shots-button.button{onclick: 'showShots()'}= t :show_shots
    #hide-shots-button.button{onclick: 'hideShots()', style: 'display: none'}= t :hide_shots
