- if series.competitors.any? {|competitor| competitor.has_shots?}
  .buttons
    #show-shots-button.button{onclick: 'showShots()', class: buttons_hidden ? 'results--desktop' : ''}= t :show_shots
    #hide-shots-button.button{onclick: 'hideShots()', class: buttons_hidden ? 'results--desktop' : '', style: 'display: none'}= t :hide_shots
