<div class="second_level_menu">
  <div class="menu sub_menu">
    <ul>
      <%= menu_item "Käyttäjät", admin_users_path, @is_admin_users %>
      <%= menu_item "Kilpailut", admin_races_path, @is_admin_races %>
    </ul>
  </div>
</div>