<div class="second_level_menu">
  <div class="menu sub_menu">
    <ul>
      <%= menu_item "Käyttäjät", admin_users_path, @is_admin_users %>
      <%= menu_item "Lajit", admin_sports_path, @is_admin_sports %>
      <%= menu_item "Oletussarjat", admin_default_series_index_path, @is_admin_default_series %>
      <%= menu_item "Hinnat", admin_prices_path, @is_admin_prices %>
    </ul>
  </div>
</div>