<h2>Julkaise kilpailu internetissä</h2>
<div class="info">Tällä sivulla voit julkaista kilpailun lopulliset tulokset internetissä.
  Tarvitset vain tunnukset Hirviurheilu-palveluun
  (<a href="<%= PRODUCTION_URL %>" target="_blank"><%= PRODUCTION_URL %></a>).
  Julkaiseminen ei maksa mitään.</div>
<% unless @race.finished? %>
  <div class="error">Voit julkaista kilpailun vasta, kun olet merkinnyt sen päättyneeksi.
    (Kilpailun voi päättää <%= link_to 'Yhteenveto-sivulla', official_race_path(@race) %>.)</div>
<% end %>
<hr/>
<%= link_to 'Takaisin Yhteenveto-sivulle', official_race_path(@race) %>