<%= content_for(:title, "Hirviurheilu - Info") %>
<h1><%= yield :title %></h1>
<h2>Ota yhteyttä</h2>
Henri Karhatsu IT Consulting -
<a href="http://www.karhatsu.com" target="_blank">www.karhatsu.com</a>

<h2>Kysymyksiä ja vastauksia</h2>

<div class="question">Mihin Hirviurheilu-tulospalvelu on tarkoitettu?</div>
<div class="answer">Hirviurheilu on hirvenhiihtoon ja hirvenjuoksuun tarkoitettu
  tulospalvelu.</div>

<div class="question">Mitä palvelun käyttäminen vaatii?</div>
<div class="answer">Toimitsijoilla täytyy olla käytössä internet-yhteys,
  sillä palvelu toimii internetissä selaimen välityksellä.</div>

<div class="question">Kuinka palvelun käyttöönotto tapahtuu?</div>
<div class="answer">Tulospalvelun käyttöönotto on erittäin helppoa.
  Ota yhteyttä yllä olevan linkin kautta, niin saat itsellesi käyttäjätunnukset.
  Sen jälkeen voit syöttää tulospalveluun kilpailun tiedot.</div>

<div class="question">Mitkä sarjat tulospalvelussa on määritetty?</div>
<div class="answer">Voit itse päättää täysin, mitä sarjoja kilpailuusi syötät.
  Tarjolla on tietyt oletussarjat, joiden käyttäminen nopeuttaa kilpailun luontia,
  mutta voit muokata niitä täysin haluamallasi tavalla.</div>

<div class="question">Mitä asioita pitää tehdä ennen kilpailua.</div>
<div class="answer">Ennen kilpailua sinun täytyy lisätä tulospalveluun kilpailun
  perustiedot kuten sen nimi, päivämäärä(t) ja sijainti sekä sarjojen tiedot.
  Jokaiselle sarjalle pitää määrittää lisäksi lähtöaika sekä sarjan kilpailijan
  ensimmäinen numero. Tämän jälkeen voit lisätä sarjoihin ilmoittautuneita
  kilpailijoita. Palvelussa on automaattiset toiminnot, joiden avulla
  lähtöaikojen ja lähtönumeroiden lisääminen kilpailijoille on helppoa.</div>

<div class="question">Miten tulosten syöttäminen tapahtuu kilpailun aikana?</div>
<div class="answer">Tähän on tarjolla kaksi vaihtoehtoista näkymää.
  Ensimmäisessä yhden kilpailijan kaikki tiedot näkyvät kerralla, jolloin voit syöttää
  hänelle yhtä aikaa niin aika-, ammunta- kuin arviointitiedot. Tämä vaihtoehto
  sopii hyvin tilanteeseen, jossa kaikki tulostiedot saadaan yhdelle kilpailijalle
  kerralla. Toinen vaihtoehto on syöttää tulokset tulospaikkakohtaisesti.
  Jos esimerkiksi yhden toimitsijan vastuulla on ammuntatulosten syöttäminen,
  hän voi käyttää näkymää, jossa näkyy yhden sarjan osalta kaikki kilpailijat
  ja heille lomakkeet ammuntatulosten syöttämiseen.</div>

<div class="question">Pitääkö ammuntatulokset syöttää summana vai yksittäisinä
  laukauksina?</div>
<div class="answer">Saat päättää tämän itse. Molemmat vaihtoehdot ovat mahdollisia.</div>

<div class="question">Mitä asioita täytyy tehdä kilpailun jälkeen?</div>
<div class="answer">Kun olet syöttänyt kaikille kilpailijoille tulokset,
  muista merkitä vielä kilpailu päättyneeksi toimitsijan etusivulta.
  Tämä vaikuttaa mm. siihen, että tarkat arviointitiedot julkaistaan kilpailijoille.
  Niin kauan kuin kilpailu on kesken, kilpailijat eivät näe arviointitietojen
  osalta muuta kuin pisteet.</div>

<div class="question">Voiko useampi toimitsija käyttää järjestelmää yhtä aikaa?</div>
<div class="answer">Kyllä voi.</div>

<div class="question">Miten tulokset saadaan julkaistua kilpailijoiden nähtäville?</div>
<div class="answer">Sinun ei tarvitse tehdä mitään erillistoimenpiteitä.
  Tulospalvelu on täysin reaaliaikainen, joten kaikki tulokset ovat näkyvissä
  koko ajan.</div>

<div class="question">Haluaisin tulostaa tulokset / lähtölistan paperille.
  Kuinka tämä onnistuu?</div>
<div class="answer">Tulostaminen onnistuu parhaiten siten, että lataat
  tuloslistan tai lähtölistan PDF-muotoisena. Linkit löytyvät vastaavilta
  sivuilta.</div>

<div class="question">Mitä voin tehdä, jos palveluun tarvittaisiin mielestäni
  ehdottomasti uusi ominaisuus?</div>
<div class="answer">Ota rohkeasti yhteyttä yllä olevan linkin kautta ja kerro
  ideasi!</div>

<script type="text/javascript">
  $(".question").next().hide();
  $(".question").click(function() {
    if($(this).next().is(":visible")) {
      $(this).next().hide();
    } else {
      $(this).next().show();
    }
  });
</script>