!!! 5
%html{lang: I18n.locale}
  %head
    %meta{charset: 'UTF-8'}
    %link{href: 'https://fonts.googleapis.com/css?family=Muli', rel: 'stylesheet'}
    = wicked_pdf_stylesheet_link_tag 'pdf'
  %body
    = yield
